
/* mystyle.css */

/* Style class for blue fill and black stroke */
.plaincircle {
    -fx-fill: blue;
    -fx-stroke: black;
  }
  
  /* Style class for circle border */
  .circleborder {
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
  }
  
  /* Style class for orange border */
  .border {
    -fx-border-color: orange;
    -fx-border-width: 5;
  }
  
  /* Style ID for red circle */
  #redcircle {
    -fx-fill: black;
    -fx-stroke: red;
  }
  
  /* Style ID for green circle */
  #greencircle {
    -fx-fill: green;
    -fx-stroke: green;
  }
  